@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@500&family=Work+Sans:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/*............. Header Section................. */
.header-container {
  background: rgba(255, 144, 14, 0.1);
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px;
}
.nav-title {
  color: #131313;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  list-style-type: none;
}
.nav-menu li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #424242;
}
.header-content {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.header-content-title {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #131313;
}
.header-pera {
  width: 868px;
  margin: 20px auto;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #727272;
}
.header-btn {
  display: block;
  margin: 30px auto;
  padding: 20px 25px;
  background-color: #ff900e;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}
.image-container {
  width: 1100px;
  height: 500px;
  background: url(images/banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 170px;
}
/* ------------...Team section ..--------------- */

.team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 100px;
}
.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.image-gallery {
  width: 342px;
  height: 342px;
}
.team-title {
  width: 300px;
  font-weight: 500;
  font-size: 32px;
}
.team-title > b {
  font-weight: 900;
  font-size: 25px;
  color: #131313;
}
.team-title > span {
  color: #ff900e;
  font-weight: bold;
}
.team-pera {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-top: 20px;
}
.team-btn {
  padding: 15px 20px;
  background: #ff900e;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
}
/* -----------Feature Section --------------*/
.feature-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0px 80px;
  margin-bottom: 30px;
}
.feature-content {
}
/* .feature-image{
  position: relative; */

}
.sub-cnotent {
  margin-bottom: 60px;
}
.feature-title {
  font-weight: 700;
  font-size: 35px;
  border-left: 4px solid #ff900e;
  padding-left: 20px;
  color: #131313;
}
.feature-pera {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.title-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 14px;
  border-radius: 10px;
}
.box-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
}
.box-pera {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  text-align: justify;
}

.experience-btn {
  position: absolute;
  z-index: 1;
  left: 35%;
  top: 436%;
  background: #ff900e;
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 40px 40px;
}
.experience-btn h4 {
  font-weight: 700;
font-size: 45px;
text-align: center;
color: #ffffff;
}
.experience-btn p{
font-weight: 500;
font-size: 16px;
text-align: center;
color: #FFFFFF;
}


/* -- ------ ---------Facts section --------------- */
.fact {
  margin-top: 120px;
}
.fact-content {
  width: 900px;
  padding-left: 100px;
}
.fact-title {
  font-weight: 700;
  color: #131313;
}
.fact-pera {
  font-weight: 400;
  font-size: 16px;
}
.fact-icon {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 100px;
}
.icon {
  text-align: center;
  padding-top: 20px;
  padding: 30px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}


/*-------------- Sponsor section------------ */
.sponsor{
  margin-bottom: 80px;
}
.sponsor-content {
  text-align: center;
  margin-top: 80px;
}
.sponsor-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.sponsor-pera {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #727272;
}
.logo {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.logo img {
  filter: grayscale(100%);
}
/* --------------Extra style---------- */
.extra-content{
  width: 700px;
  height: 400px;
  background: rgba(255, 144, 14, 0.1);
  margin: 0 auto;
  text-align:justify;
}
.extra-content h1 {
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 16px;
    color: #db0b38;
}

.extra-content input {
  margin-top: 30px;
  padding: 21px 130px 21px 15px;
  border-radius: 5px;
  border: 1px solid rgb(214, 211, 15);
}




.quote-btn{
background: #db0b38;
color: #ffff;
 margin-top: 16px;
 display: block;
 padding: 20px 30px;
 font-weight: 600;
 font-size: 20px;
 color:#FFFFFF;
 border:none;
 border-radius: 5px;
cursor: pointer;
}

/* .................footer section................ */
footer {
  padding: 20px 0;
  background-color: #fff4e7;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  margin: 40px 80px;
  border-radius: 5px;
}
